{% extends "master.html.twig" %}

{% block title %}Product addition successful{% endblock %}

{% block content %}
<a href="/addproduct">Add product</a>&nbsp; &nbsp; 
<a href="/logout">Logout</a>
<br><br>
<p>{{name}} at {{price}}<br>
    has been added in the database.</p>
<a href="../index.php">See products</a><br><br>
{% endblock %}
