{% extends "master.html.twig" %}

{% block title %}Addition of product impossible{% endblock %}

{% block content %} 
<a href="/addproduct">Add product</a>&nbsp; &nbsp; 
<a href="../index.php">See products</a><br><br>
<h1>We are sorry, a dog ate our database.<br>
    Please start again the process.</h1>
{% endblock %}
