{% extends "master.html.twig" %}

{% block title %}Logout Successful{% endblock %}

{% block content %}
<a href="/logout">Login</a>&nbsp; &nbsp;    
<a href="../index.php">See products</a><br><br>
<br><br>
<h1>Logout successful.<br></h1>
{% endblock %}
