{% extends "master.html.twig" %}

{% block title %}Registration successful{% endblock %}

{% block content %}
<a href="/addproduct">Add product</a>&nbsp; &nbsp; 
<a href="/login">Login</a>
<br><br>
<p>{{name}} at {{email}}<br>
    has been added in the database.</p>
<a href="../index.php">See products</a><br><br>
{% endblock %}









