{% extends "master.html.twig" %}

{% block title %}Booking Successful{% endblock %}

{% block content %}
<a href="/logout">Logout</a>&nbsp; &nbsp;    
<a href="/book">Add another booking</a>&nbsp; &nbsp; 
<a href="../index.php">See bookings</a><br><br>
<br><br>
<h1>{{name}}'s booking.<br></h1>
{% endblock %}
