{% extends "master.html.twig" %}

{% block title %}Login Successful{% endblock %}

{% block content %}
<a href="/logout">Logout</a>&nbsp; &nbsp;    
<a href="/book">Add booking</a>&nbsp; &nbsp; 
<a href="../index.php">See bookings</a><br><br>
<br><br>
<h1>Welcome {{name}}.<br></h1>
{% endblock %}
