{% extends "master.html.twig" %}

{% block title %}Registration successful{% endblock %}

{% block content %}
<a href="/login">Login</a>
<br><br>
<p>{{name}} with passport number {{passport}}<br>
    has been added in the database.</p>
<a href="/book">Book a trip</a>&nbsp; &nbsp; 
<a href="../index.php">Click to continue</a><br><br>
{% endblock %}









