{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>

{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
            {% endfor %}
    </ul>
{% endif %}

<form method="post">
    Name:<input type="text" name="name" value="{{v.name}}"><br><br>
    Passport #:<input type="text" name="passport" value="{{v.passport}}"><br><br>
    Password:<input type="text" name="password"><br><br>
    Password (retype):<input type="text" name="password2"><br><br>
    <input type="submit" value="Register">
</form>
{% endblock %}
